table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 2px solid cornflowerblue;
    padding: 10px;
}
h2{
    color: saddlebrown;
    text-align: center;
    font-family: "Times New Roman";
}